body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.block-menu a {
    display: block;
    background-color: rgb(30, 30, 161);
    color: white;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
}

.inline-menu a {
    display: inline;
    background-color: rgb(10, 112, 150);
    color: white;
    padding: 10px;
    margin: 0;
    text-decoration: none;
}

.inline-block-menu a {
    display: inline-block;
    background-color: rgb(20, 185, 160);
    color: white;
    padding: 30px;
    margin: 0;
    text-decoration: none;
}

.Float a {
    float: right;
    background-color: rgb(10, 112, 150);
    color: white;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    height: 50px;
    line-height: 40px;
}

.clear-example {
    clear: both;
    background-color: rgb(2, 215, 215);
    color: white;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid rgb(232, 202, 202);
}
