body {
    background-color: rgb(224, 224, 224);
}

div { 
    height: auto;
    width: 300px;
    padding: 20px;
    border: 5px solid red;
    box-sizing: border-box;
    background-color: rgba(21, 176, 227, 0.966);
    border-radius: 8px;
    margin: auto;
}

h1 {
    text-align: center;
}
