#box1{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
}
#box2{
    height: 50px;
    width: 50%;
    background-color: greenyellow;
    margin-left: 10%;
    font-size: 0.5em;
}